.filters {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 150px;
    column-gap: 16px;
    row-gap: 16px;
    /* background-color: #011C2D; */
    background-color: #07253b;
    border-radius: 5px;
    padding:  16px;
    /* margin: 0 20px; */

    position: relative;
    z-index: 0;
}

.filter {
    display: flex;
    flex-direction: column;
    /* margin: 10px; */
}

.filter h1{
    font-size: 1rem;
    margin: 0;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.filter select {
    display: block;
    padding: 8px;
    font-size: 1rem;
    text-transform: capitalize;
    border-radius: 3px;
    text-overflow: ellipsis;
    width: 100%;
}


.icon {
    display: flex;
    align-items: center;
    flex: 1;
    column-gap: 10px;
    font-size: 1.5rem;
}

.icon > * {
    cursor: pointer;
}
.active {
    color: #a3a7aa;
}

@media screen and (max-width: 1000px) {

    .filters {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        /* width: 80%; */
        /* margin: 0 16px; */
    }
}
@media screen and (max-width: 768px) {
    .filters {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 0 16px;
    }
}
@media screen and (max-width: 480px) {
    .filters {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}